.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #12161e;
  padding: 20px;
}
.footerAll{
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
    
}

.footerContent {
  display: inline-flex;
  align-items: center;
}

.footer img {
  margin-right: 10px;
}



